.container{
    display: flex;
    flex-wrap: wrap;
    height: 750px;
    gap: 10px;
}

.main1{
    flex: 0 0 100%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
}

.main2{
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    flex: 0 0 100%;
    gap: 10px;
}
.main3{
    flex: 0.4;
    background-color: rgb(139, 5, 248);
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.main4{
    flex: 1;
    background-color: rgb(255, 72, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main5{
    display: flex;
    flex-wrap: wrap;
    height: 130px;
    flex-basis: 100%;
    gap: 10px;
}

.main0{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main6{
    flex: 100%;
}
.main7{
    flex: 1;
}

@media (max-width: 760px) {
    .main5{
gap: 0px;
    }
}

@media (max-width: 320px) {
    .main3{
flex: 100%;
    }
    .main{
        height: 200px;
    }
    .main5{
        gap: 5px;
    }
    .main0{
        height: 100px;
    }
}